



.navbar-nav .nav-link {
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.navbar-brand img {
    border-radius: 8px;
}

.carousel-item img {
    height: 90vh;
    width: 60%;
    object-fit: cover;

}

.carousel-item img :hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px gray;

}

.h1 { background-color: black;
    line-height: 1.8;
    height: 250px;
    padding: 20px;
    padding-top: 40px;
    color: #f8f9fa;
    margin-bottom: 0px;

        
}
.line{height: 2px;
    width: 100%;
    background-color: gray

    


}


.h2{height: 250px;
    background-color: black;
    color: #f8f9fa;
    padding:20px ;
}
.color{background-color: black;

}



.card image {
    border-radius: 50px;

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

}