

.navbar-nav .nav-link {
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.navbar-brand img {
    border-radius: 8px;
}

.carousel-item img {
    height: 90vh;
    width: 60%;
    object-fit: cover;

}

.carousel-item img :hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px gray;

}

.h1 { background-color: black;
    line-height: 1.8;
    height: 250px;
    padding: 20px;
    padding-top: 40px;
    color: #f8f9fa;
    margin-bottom: 0px;

        
}
.line{height: 2px;
    width: 100%;
    background-color: gray

    


}


.h2{height: 250px;
    background-color: black;
    color: #f8f9fa;
    padding:20px ;
}
.color{background-color: black;


}



.card img {
    border-radius: 10px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    
    

}

.card:hover {
    transform: translateY(-8px);
    box-shadow:  0 0 50px white;
    

}
.card{
    background-color: black;
    color: #f8f9fa;


}

    
    
.why{
    background-color: #111;
    padding: 70px 0;
}

.why h2{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.why .col-md-3{
    background-color: #1b1b1b;
    border-radius: 15px;
    padding: 30px 20px;
    margin: 10px;
    transition: 0.4s;
    border: 1px solid #333;
}

.why .col-md-3:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px #0d6efd;
}

.why h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.why h4{
    color: white;
    margin-bottom: 15px;
}

.why p{
    color: #ccc;
    line-height: 25px;
}
.f1{
    width: 100%;
    height:400px;
    background-color: black;
}
.f2{color:#0d6efd;
    padding-top: 50px;

}
.f3{color:#0d6efd; 
    padding-top: 50px;
    margin-left: 150px;

}
.f4 a{text-decoration: none;
    list-style-type: none;
    margin-left: 150px;
    color: white;


}
.f4:hover{
    background-color: #0d6efd;
    background-color: white;
}
.f5{margin-top: 50px;
    margin-left: 150px;
    color: #0d6efd;


}
.f6{
    margin-left:135px;
    color: white;
}
